<nav class="nav-container {{if this.isScrolled 'scrolled'}}">
<div class="nav-content">
    <a href="#hero" class="logo">
      <img 
        src="/assets/images/logo.png" 
        alt="The Traditional Methodist Church logo"
        class="logo-image"
      >
      <div class="logo-text">
        <div class="logo-text-abbr">TMC</div>
        <div class="logo-text-full">The Traditional Methodist Church</div>
      </div>
    </a>

    <div class="nav-links {{if this.isMenuOpen 'active'}}">
      <a href="#hero" {{on "click" this.closeMenu}}>Home</a>
      <a href="#information" {{on "click" this.closeMenu}}>About</a>
      <div class="nav-dropdown"  {{on "mouseleave" (fn (mut this.isLocationsOpen) false)}} >
        <button 
          class="dropdown-toggle {{if this.isLocationsOpen 'active'}}" 
          type="button"
          {{on "click" (fn this.toggleDropdown 'locations')}}
          aria-haspopup="true" 
          aria-expanded="{{this.isLocationsOpen}}"
        >
          Locations
          {{svg-jar "chevron-down" class="dropdown-icon"}}
        </button>
        
        <div class="dropdown-list {{if this.isLocationsOpen 'active'}}">
          {{#each this.locationItems as |location|}}
            <a 
              href="#location-section" 
              class="dropdown-link"
              {{on "click" (fn this.navigateToLocation location.id)}}
              {{on "click" this.closeMenu}}
            >
              {{location.name}}
            </a>
          {{/each}}
        </div>
      </div>
      <a href="#testimonials" {{on "click" this.closeMenu}}>Community</a>
      <a href="#footer" {{on "click" this.closeMenu}}>Contact</a>
    </div>


<button 
      class="hamburger {{if this.isMenuOpen 'active'}}" 
      type="button"
      {{on "click" this.toggleMenu}}
    >
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

  </div>
</nav>
